*.mp4
*.mov
*.avi
.ipynb_checkpoints/
__pycache__/
kinara/outputs/
kinara/__pycache__/
kinara/**/.ipynb_checkpoints/
.vscode/

.env
.env.local


# clerk configuration (can include secrets)
/.clerk/
node_modules
